# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build & Dependencies
node_modules/
dist/
bin/
server

# Local Environment
.env
.env.local
.env.*.local

# Databases
*.db
*.db-shm
*.db-wal

# IDEs
.vscode/
.idea/
*.swp
*.swo
